<link href="https://fonts.googleapis.com" rel="preconnect">
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Main CSS File -->
<link href="assets/css/main.css" rel="stylesheet">
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="" class="logo d-flex align-items-center">
        <img class="logo-img" src="/img/logo.png" alt="">
      </a>

      <nav id="navmenu" class="navmenu" >
              <ul>
                <li class="dropdown"><a href="#"><span>HOME</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li class="dropdown"><a href="#"><span>Our services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                      <ul>
                        <li><a href="#">Tour Guide</a></li>
                        <li><a href="#">Tour booking</a></li>
                        <li><a href="#">Hotel booking</a></li>
                        <li><a href="#">Ticket booking </a></li>
                        <li><a href="#">Rental service </a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>Support</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                      <ul>
                        <li><a href="#">Form support</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">live Chat</a></li>
                        <li><a href="#">how it works  </a></li>
                        <li><a href="#">Security </a></li>
                        <li><a href="#">Privacy </a></li>
                        <li><a href="#">Charges logs</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>Company</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                      <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Community Blog</a></li>
                        <li><a href="#">Jobs and Careers</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Our Awards </a></li>
                        <li><a href="#">Agencies </a></li>
                        <li><a href="#">Charges logs</a></li>
                      </ul>
                    </li>
                  </ul>
                </li> 
                <li class="dropdown"><a href="#"><span>Tour</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                  <a href="#"><span>Explore Tours</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                      <ul>
                      </ul>
                    </li>
              </ul>
                <li class="dropdown"><a href="#"><span>Destination</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                  <a href="#"><span>Explore Destination</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                      <ul>
                      </ul>
                    </li>
              </ul>
                <li class="dropdown"><a href="#"><span>Activities</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                  <a href="#"><span>Explore Activities</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                      <ul>
                      </ul>
                    </li>
              </ul>
                <li class="dropdown"><a href="#"><span>Hotel</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                  <a href="#"><span>Explore Hotel</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                      <ul>
                      </ul>
                    </li>
              </ul>
                <li class="dropdown"><a href="#"><span>Rental</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                  <a href="#"><span>Explore Rental</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                      <ul>
                      </ul>
                    </li>
              </ul>
                <li class="dropdown"><a href="#"><span>Tickets</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                  <a href="#"><span>Explore Tickets</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                      <ul>
                      </ul>
                    </li>
              </ul>
                <li class="dropdown"><a href="#"><span>Pages</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                  <a href="#"><span>Explore Pages</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                      <ul>
                      </ul>
                    </li>
              </ul>
                <li class="dropdown"><a href="#"><span>blog</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                  <a href="#"><span>Explore blog</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                      <ul>
                      </ul>
                    </li>
              </ul>
                <li class="dropdown ms-5"><a href="#"><span>EN</span> <i class="bi bi-globe-americas"></i><i class="bi bi-chevron-down toggle-dropdown "></i></a>
                  <ul>
                  <a href="#"><span>AR</span></a>
                    </li>
                
              </ul>
              <li class="dropdown"><a href="#"><span>USD</span><i class="bi bi-currency-dollar"></i> <i class="bi bi-chevron-down toggle-dropdown "></i></a>
                <ul>
                  <a href="#"><span>EUR</span><i class="bi bi-currency-euro"></i></a>
                </li>
              </ul>
            </nav>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
       
    <a class="btn-getstarted" href="/SignUp">Sign Up</a>
    <button class="btn btn-light"><i class="bi bi-collection-fill"></i></button>
    
  </div>
  </header>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/js/main.js"></script>
