
  <!-- As a heading -->
       
       
  <link rel="stylesheet" href="./css/main.css">
  <style>
    :root{
      --navbar-dark-primary: #18283b;
    }
    .logo-abbr {
  width: 120px;
  height: 50px;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  position: absolute;
  top: 0;
  background-color: var(--navbar-dark-primary);
}
  </style>
  <div class="header">
            <img class="logo-abbr" src="img/logo.png" alt="">
          </div>
 